{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["item"] }],
    "class-methods-use-this": ["error", {
      "exceptMethods": ["cleanUpResponse", "addRenderReaction", "getRenderReactions", "populateItemList"]
    }],
    "react/sort-comp": [1, {
      "order": [
        "static-methods",
        "lifecycle",
        "everything-else",
        "rendering"
      ],
      "groups": {
        "rendering": [
          "/^render.+$/",
          "render"
        ]
      }
    }]
  }
}